@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    @font-face {
        font-family: "lato";
        src: url("../public/Fonts/Lato-Regular.ttf");
    }

    @font-face {
        font-family: "lato-bold";
        src: url("../public/Fonts/Lato-Bold.ttf");
    }
}

body {
    @apply bg-primary-black font-lato text-milky
}

.activeNav {
    position: relative;
    opacity: 1 !important;
}

.activeNav::after {
    content: "";
    position: absolute;
    width: 4rem;
    border-radius: 3px;
    height: .1rem;
    bottom: 6px;
    left: 50%;
}

.addTodo {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.addPrioruty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}